<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event management</title>
</head>
<body>
  <div class="container">
    <h1 class="">Events</h1>
    <% page.forEach(event => { %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= event.title %></h4>
            <div class="card-subtitle text-muted">
            
            <div class="card-text "><%= event.description %></div>
            </div>
          </div>
        </div>
    <% }) %>
  </div>
</body>
</html>
