<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Event Management</title>
</head>
<body>
   <div class="container">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <br><br><h4>LOGIN</h4>
                </div>
                <div class="panel-body">
                          <form action='/login' method='POST'>
                            <div class="form-group">
                               
                            <input type="text" class="form-control" placeholder="Email" name="Email"><br><br>
                            <input type="text" class="form-control" placeholder="Password" name="Password"><br><br>
                           
                           
                             
                              
                        </div>
                    </form>
                    <a href="/login" class="btn btn-primary">Submit</a> 
                                                   
                
                </div>


   </div>
</body>
</html>
