<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Event Management</title>
</head>
<body>
   <div class="container">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <br><br><h4>SIGN UP</h4>
                </div>
                <div class="panel-body">
                          <form action='/sign up' method='POST'>
                                <div class="form-group">
                                <input class="form-control" placeholder="Name" name="name"  required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control"  placeholder="Email"  name="e-mail" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" name="password" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"  placeholder="Contact" maxlength="10" size="10" name="contact" required>

                            
                        </div>
                    </form>
                    
                    <a href="/event" class="btn btn-primary">Submit</a>                                
                
                </div>


   </div>
</body>
</html>
